
* {
	margin: 0;
	padding: 0;
	outline-style: none;
}

body {
	background: rgb(29, 29, 29);	
}

h1, h2, h3, h4, p {
	color: white;
}


.texto {
	color: white;
}



.cenXY {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cenX {
	display: flex;
	justify-content: center;
}
.cenY {
	display: flex;
	align-items: center;
}
.empujaAba {
	display: flex;
	justify-content: center;	
}

.flex {
	display: flex;	
}

.redondeado {
	border-radius: 40%;
}



/*
	----------------------------------------------------------
*/



.seccion {
	height: 100vh;
	width: 100vw;
}



.nombreHeroe {
	
	position: absolute;
	color: white;
	margin-left: 3px;
	
}



.col50 {
	width: 50%;
	position: relative;
}
.col40 {
	width: 40%;
	position: relative;
}
.col33 {
	width: 33.33%;
	position: relative;
}
.col20 {
	width: 20%;
	position: relative;
}
.col10 {
	width: 10%;
	position: relative;
}


.mb-1 {
	margin-bottom: 1px;
}

.mt-5 {
	margin-top: 5px;
}



.botonSkill {
	width: 40%;
	background: rgb(51, 127, 241);
	color: white;
	border: none;
	font-size: 22px;
}

.botonSkill:focus {
	outline-style: none;
}

.botonDesactivado {
	background: rgb(30, 60, 105);
	color: rgb(160, 160, 160);
	border: none;
	font-size: 22px;
}

.blur {
	filter: blur(4px);
	-webkit-filter: blur(4px);
}

.byn {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.blur-byn {
	filter: blur(2px) grayscale(100%);
	-webkit-filter: blur(2px) grayscale(100%);	
}

.fondoBarra {
	width: 25%;
	background-color: grey;
}

.barraVida {
	width: 100%;
	height: 10px;
	background-color: rgb(255, 52, 52);
}

.barraMana {
	width: 100%;
	height: 10px;
	background-color: rgb(58, 160, 255);
}



/*
.cajaInfoHeroe {
	
	width: 50%;
	
}*/



.combate_columnaCentro {
	width: 15%;
	align-self: flex-start;
	margin-top: 5%;
}

.combate_textoColumnaCentro {
	color: rgb(255, 32, 32);
	
}

